version: "3"
services:
  backend:
    image: node:20-alpine
    working_dir: /usr/src/app
    ports:
      - "4000:4000"
    volumes:
      - ./backend:/usr/src/app
      - /usr/src/app/node_modules
    command : sh -c "npm install --save-dev nodemon && npm run dev"
  frontend:
    image: node:20-alpine
    working_dir: /usr/src/app
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/usr/src/app
      - /usr/src/app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
    command: sh -c "npm install && npm start"
